.button {
    padding: 12px;
    font-size: 16px;
    background-color: #87c73c;
    border-radius: 12px;
    box-sizing: border-box;
    width: 100%;
    border: none;
    color: white;
    text-transform: uppercase;    
    &:hover{
        background-color: #30432F;
        cursor: pointer;
    }
}